<br /><br />
<div class="title text-center col-10 offset-1">
<h1>Got Jokes?</h1>
</div>
<br /><br />
<div class="booyah-box col-10 offset-1 text-center">
  <h1><%= @joke.joke %></h1><br />
  <br />
  <h2>- <i><%= @joke.comedian %></i></h2>
  <br />
</div>
